* {
    font-family: 'Clash Display', sans-serif;
    box-sizing: border-box;
   
    margin: 10px; /* Reset default body margin */

   justify-content: center;
   align-items: center;
  }
  



  body {
    font-size: 15px;
    
    font-weight: initial;
     background-color: rgb(255, 255, 255);


    /* background-color: #074a41; */
  }




  #container {
    position: relative; /* Change to relatibe positioning */
    display: grid;
    /* grid-template-rows: 10% 1fr 40%; */
    grid-gap: 10px;

    justify-content: center;
    align-content: center;
    margin-bottom: 200px; /* Add margin to create space between the container and footer */
    


  
  }

  .card {
    display: flex;
  flex-direction: column;
    border: 2px solid black;
    border-radius: 10px; 
    position: relative;

    
   width: 600px; 
height: 400px; 

   overflow: hidden; /* Hide overflowing content */

  }



  .card1 {
    display: flex;
  flex-direction: column;
    border: 2px solid black;
    border-radius: 10px; 


  }

  

  



      




.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
   
   }
  

 a,p  {
  margin-bottom: 30px; /* Adjust the margin value as needed */
  justify-content: center;
  align-items: center;

  
}







  .cardbox {
 display: flex;
    border: 0.5px solid black;
    /* height: 50px;
    width: 150px;  */
   
    box-shadow: 0 2px 8px 1px rgb(0 0 100 /0.2);
    border-radius: 14px;


  }
  


.item-text{

   color: rgb(100, 100, 290);
    text-align:center;
    word-wrap: break-word;
    /*   font-family: "Comic Sans MS", "Comic Sans", cursive;   */

}

.item-text1{
 
 color: rgb(100, 100, 290);
 text-align: center;
 word-wrap: break-word;
}




 .text-conditional, 
.item-text-cbox{
    display: flex;
  
    align-items: center;
    justify-content: center;
   /* font-family: "Comic Sans MS", "Comic Sans", cursive;*/
    font-size: 12px;
 
}



.tag-container {
    display: flex;
    position: relative;
    color: rgb(100, 100, 290);
    
    

}





  border-radius: 14px;


.pizza-section {
  padding: 20px;
  box-shadow: 0 2px 8px 1px rgb(0 0 100 /0.2);
  border-radius: 14px;
  display: grid;
  grid-template-rows: 32px 200px 32px;
  gap: 40px;
}


.tag1{
  display: grid;

  border: 2px solid black;
  height: 30px; /* Set the desired height */
  width: 60px; /* Set the desired width */

  gap: 40px;

  box-shadow: 0 2px 8px 1px rgb(0 0 100 /0.2);
  border-radius: 14px;
  grid-template-rows: 32px 200px 32px;
 
}

  .tag {
    display: flex;
    border: 2px solid black;
    height: 30px; /* Set the desired height */
    width: 60px; /* Set the desired width */
   box-shadow: 0 2px 8px 1px rgb(0 0 100 /0.2);
  border-radius: 14px;
  position: relative;

  gap: 40px;
   
  }

 

  .footer {
    flex-wrap: wrap;
    position: fixed;
    bottom:0;
    right:50;
    left: 49.5%;
    transform: translateX(-50%);
    /* background-color: #f0f0f0; */
    background-color: rgb(100, 100, 290);
    border: 0.5px solid black;
    border-radius: 10px;
    height: 60px;
    width: 600px;
    padding: 20px;
    display: flex;
    align-content: space-evenly ;
    
  transition: background-color 0.3s; /* Add a smooth transition effect */
    max-width:700px; /* Set the desired max-width for the footer */

    margin-top: 20px; /* Add margin to create space between the footer and container */

  }


  
  .footer-nav li  {
    display: inline-block;
    margin: 0 10px;

  }
  

  nav ul li a.active {
    /* Style for active link */
    color: blue;
    /* Additional styles as needed */
  }
  
 

  .footer-nav img {
    display: flex;
    width: 50px;
    height: 50px;
    align-content: space-between ;
    margin: 0 40px;

    max-width: 100%;
    
  }

  

  *, :after, :before {
    border: 0 solid #d9d9e3;
    box-sizing: border-box;
}


.bookmark-icon {
    position: absolute;
    top: -30px;
    right: -10px;
    font-size: 30px;
    color: black; /* Optionally, change the color of the bookmark icon */
  }



.bookmark-icon.active{
    position: absolute;
    top: -30px;
    right: -10px;
    font-size: 30px;
    color: #ff0000; /* Optionally, change the color of the bookmark icon */
  }



  .footer-nav ul li a.active {
    /* Style for active link */
    color: blue;
    /* Additional styles as needed */
  }
  


  
  




.switch {
  flex:1;
  display: flex;
  top:0;
  bottom:50;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 60px;
  height: 34px;}


  
.switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "Switch";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 5px;
  background-color: white;
  border-radius: 90%;

}



   /* Add CSS for highlighted tag */
   .highlighted {
    background-color: yellow;
  }


  .active-choice {
    background-color: rgb(72, 181, 33);
  }
  

  .dark {
    background-color: rgb(100, 100, 290);
    color: white;

  }
  

  .text-conditional {
    display: none;
  }
  


  @media screen and (max-width: 768px) {
    /* Adjust the width of the container */
    #container {
      max-width: 80%;
      margin: 0 auto;
    }
  }




 

  
  
  
    /* #container1 {
      display: grid;
       grid-template-rows: 30% 1fr 10%;
      justify-content: center;
      align-content: center;

   */
    
  
    #container1{
      position: relative; /* Change to relatibe positioning */
      
      display: grid;
    grid-template-rows: 10% 1fr 10% ;
      grid-gap: 30px;
      padding: 10px;
      justify-content: center;
      align-content: center;
  
    
    }


  
  
      
    .container_pro {
      display: grid;
       grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-content: center;
      position: relative;
      display: flex;
      border-radius: 10px; 
      position: relative;
      width:100%;
  
    } 
  
  
.leftbar_pro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  width: 100px; /* Adjust the width as desired */
  height: 100px; /* Adjust the height as desired */
  overflow: hidden; /* Ensure the image stays within the circle */
}

.leftbar_pro img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.leftbar_pro {
  display: flex;
 justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 50%; 
  width: 100px; /* Adjust the width as desired */
  height: 100px; /* Adjust the height as desired */
  overflow: hidden; /* Ensure the image stays within the circle */
}
  
  
    

  #leftbar_pro p {
    font-size: 1em;
    line-height: 1}
  

.author__bio {
  margin: 0;
} 


.tag_pro {
    display: flex;
    height: 30px;
    width: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-image: initial;
}

 

.footer.hover {
  background-color:  rgb(255, 255, 255); /* Set the background color for the footer when hovered */

}

@media screen and (max-width: 1024px) {
  .footer-nav img {
    width: 30px; /* Adjust the width as desired */
    max-width: 100%;
  }
}




.header {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0;
  background: var(--primary);
  border-bottom: 1px solid var(--black);
}

.header__title {
  text-align: center;
}


.card-list {
  padding: 10rem 2rem 4rem 2rem;
  max-width: 45rem;
  margin: 0 auto;
}

.card-list__item {
  margin: 0 0 4rem;
}


:root {
  --primary: #ffffff;
  --secondary: #ff4a11;
  --secondary-light: #fddcd2;
  --white: #ffffff;
  --black: #252629;
  --ff-primary: sans-serif;
  --ff-serif: serif;
  --fs-200: 0.6rem;
  --fs-300: 0.8rem;
  --fs-400: 1rem;
  --fs-500: 1.1rem;
  --fs-600: 1.5rem;
  --fs-900: 1.75rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* h1,
h2,
h3 {
  line-height: 1.2;
} */


ul li,
ol li {
  list-style: none;
  padding: 0;
}




form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

legend {
  background-color: black;
  color: white;
}

button {
  margin: auto;
  width: fit-content;
}

input[type="submit"] {
  margin: auto;
  width: fit-content;
}

textarea {
  width: fit-content;
  border: 2px solid black;
}