* {
    font-family: 'Clash Display', sans-serif;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin:5px;
    padding: 4px;
  }
  


  body {
    font-size: 15px;

    font-weight: initial;
     background-color: rgb(255, 255, 255);
     align-items: center;
     justify-content: center;


    /* background-color: #074a41; */
  }




  /* #container {
    position: relative; 
    display: grid;

    grid-gap: 10px;

    justify-content: center;
    align-content: center;
    margin-bottom: 200px;


  
  } */

  .card {
    display: flex;
  flex-direction: column;
    border: 2px solid black;
    border-radius: 10px; 
    position: relative;
width: 600px; 
height: 400px; 
justify-content: center;
align-content: center;

   overflow: hidden; /* Hide overflowing content */

  }



h1 {
  

  } 

  

  



      




h3, .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
   
   }
  






  .cardbox {
 display: flex;
    border: 0.5px solid black;
    /* height: 50px;
    width: 150px;  */
   
    box-shadow: 0 2px 8px 1px rgb(0 0 100 /0.2);
    border-radius: 14px;


  }
  


.item-text{

   color: rgb(100, 100, 290);
    text-align:center;
    word-wrap: break-word;
    /*   font-family: "Comic Sans MS", "Comic Sans", cursive;   */

}

.item-text1{
 
 color: rgb(100, 100, 290);
 text-align: center;
 word-wrap: break-word;
}




 .text-conditional, 
.item-text-cbox{
    display: flex;
  
    align-items: center;
    justify-content: center;
   /* font-family: "Comic Sans MS", "Comic Sans", cursive;*/
    font-size: 12px;
 
}



.tag-container {
    display: flex;
    position: relative;
    color: rgb(100, 100, 290);

}






.pizza-section {
  padding: 20px;
  box-shadow: 0 2px 8px 1px rgb(0 0 100 /0.2);
  border-radius: 14px;
  display: grid;
  grid-template-rows: 32px 200px 32px;
  gap: 40px;
}


.tag1{
  display: grid;

  border: 2px solid black;
  height: 30px; /* Set the desired height */
  width: 100px; /* Set the desired width */

  gap: 10px;
  align-items: center;
  justify-content: center;

  box-shadow: 0 2px 8px 1px rgb(0 0 100 /0.2);
  border-radius: 14px;
  grid-template-rows: 30px 20px 32px;
 
 
}

  .tag {
    display: grid;
    border: 2px solid black;
    height: 30px; /* Set the desired height */
    width: 100px; /* Set the desired width */
    gap: 40px;
   box-shadow: 0 2px 8px 1px rgb(0 0 100 /0.2);
  border-radius: 14px;
  position: relative;

  grid-template-rows: 30px 20px 32px;
 

  }

 

  .footer {
    flex-wrap: wrap;
    position: fixed;
    bottom:0;
    right:50;
    left: 47.5%;
    transform: translateX(-50%);
    /* background-color: #f0f0f0; */
    background-color: rgb(100, 100, 290);
    border: 0.5px solid black;
    border-radius: 10px;
    height: 60px;
    width: 600px;
    padding: 20px;
    display: flex;
    align-content: space-evenly ;
  
  transition: background-color 0.3s; /* Add a smooth transition effect */
    max-width:700px; /* Set the desired max-width for the footer */

    margin-top: 20px; /* Add margin to create space between the footer and container */

  }


  
  .footer-nav li  {
    display: inline-block;
    margin: 0 0px;

  }
  







  
  nav ul li a.active {

    color: blue;
   
  }
  
 

  .footer-nav img {
    display: flex;
    width: 60px;
    height: 50px;

    margin: 0 30px;
    max-width: 100%;
    
  }

  

  *, :after, :before {
    border: 0 solid #d9d9e3;
    box-sizing: border-box;
}


.bookmark-icon {
    position: absolute;
    top: -30px;
    right: -10px;
    font-size: 30px;
    color: black; /* Optionally, change the color of the bookmark icon */
  }



.bookmark-icon.active{
    position: absolute;
    top: -30px;
    right: -10px;
    font-size: 30px;
    color: #ff0000; /* Optionally, change the color of the bookmark icon */
  }



  .footer-nav ul li a.active {
    /* Style for active link */
    color: blue;
    /* Additional styles as needed */
  }
  


  
  




.switch {
  flex:1;
  display: flex;
  top:0;
  bottom:50;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 60px;
  height: 34px;}


  
.switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "Switch";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 5px;
  background-color: white;
  border-radius: 90%;

}



   /* Add CSS for highlighted tag */
   .highlighted {
    background-color: yellow;
  }


  .active-choice {
    background-color: rgb(72, 181, 33);
  }
  

  .dark {
    background-color: rgb(100, 100, 290);
    color: white;

  }
  

  .text-conditional {
    display: none;
  }
  


  @media screen and (max-width: 768px) {
    /* Adjust the width of the container */
    #container {
      max-width: 80%;
      margin: 0 auto;
    }
  }




 

  
  
  
    /* #container1 {
      display: grid;
       grid-template-rows: 30% 1fr 10%;
      justify-content: center;
      align-content: center;

   */
    
  
    #container1{
      position: relative; /* Change to relatibe positioning */
      
      display: grid;
    grid-template-rows: 10% 1fr 10% ;
      grid-gap: 30px;
      padding: 10px;
      height: 50vh;
      justify-content: center;
      align-content: center;
  
    
    }

 
  
      
    .container_pro {
      display: grid;
       grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-content: center;
      position: relative;
      display: flex;
      border-radius: 10px; 
      position: relative;
      width:100%;
  
    } 
  
  
.leftbar_pro {
  

  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1.5px solid black;
  border-radius: 50%;
  position: relative;
  width: 100px; 
  height: 100px; 
  overflow: hidden; /* Ensure the image stays within the circle */
}



.leftbar_pro img {

  width: 100%;
  height: auto;
  object-fit: cover;
    margin: 0;
  padding: 0;

}







/* .leftbar_pro {
  display: flex;
 justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 50%; 
  width: 100px; 
  height: 100px; 
  overflow: hidden; 
}
   */
  
    


/* 

.tag_pro {
    display: flex;
    height: 30px;
    width: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-image: initial;
} */

 

.footer.hover {
  background-color:  rgb(255, 255, 255); /* Set the background color for the footer when hovered */

}






.header {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 20;
  width: 100%;
  padding: 1.5rem 0;
  background: var(--primary);
  border-bottom: 1px solid var(--black);
}

.header__title {
  text-align: center;
}


.card-list {
  padding: 10rem 2rem 4rem 2rem;
  max-width: 45rem;
  margin: 0 auto;
}

.card-list__item {
  margin: 0 0 4rem;
}


:root {
  --primary: #ffffff;
  --secondary: #ff4a11;
  --secondary-light: #fddcd2;
  --white: #ffffff;
  --black: #252629;
  --ff-primary: sans-serif;
  --ff-serif: serif;
  --fs-200: 0.6rem;
  --fs-300: 0.8rem;
  --fs-400: 1rem;
  --fs-500: 1.1rem;
  --fs-600: 1.5rem;
  --fs-900: 1.75rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



ul li,
ol li {
  list-style: none;
  padding: 0;
}




form {
  display: flex;
  flex-direction: column;
  gap: 0px;

}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 0px;
}

legend {
  background-color: black;
  color: white;
}

button {
  margin: auto;
  width: fit-content;
  font-size: 20px;
  border: 2px solid black;
  box-shadow: 0 2px 8px 1px rgb(0 0 100 /0.2);
  border-radius: 14px;

}

input[type="submit"] {
  margin: auto;
  width: fit-content;
}

textarea {
  width: fit-content;
  border: 2px solid black;
}






.animate {
  transform: scale(1.2);
  transition: transform 0.3s;
}




.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Adjust as per your layout */
}
